main {
  margin-top: 7rem;
  margin-left: 1rem;
  margin-right: 44rem;
}

.usuarioPost {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

img {
  max-width: 4rem;
  border-radius: 50%;
}

ul {
  width: 30rem;
}

#posts {
  font-size: 3rem;
}

#usuarioPost {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.6rem;
}

li {
  margin-top: 2rem;
}

aside {
  position: fixed;
  top: 5rem;
  left: 45rem;
}
.paraSeguir_li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

article {
  position: fixed;
  top: 4rem;
  left: 19rem;
  padding: 1rem;
  flex-direction: column;
  display: flex;

  max-width: 50%;
  max-height: 50%;
  background-color: var(--bg-modal);
  min-width: 50%;
  border-radius: 1rem;

  animation: modal;
}

article > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 989px) {
  aside {
    left: 40rem;
  }
}
@media (max-width: 933px) {
  h4 {
    font-size: 2.5rem;
    margin-top: 11rem;
  }

  ul {
    margin-top: -1rem;
  }
  #paraSeguir {
    gap: 2rem;
    display: flex;
    overflow-x: auto;
  }
  aside {
    position: absolute;
    left: 1rem;
    top: 20rem;
  }

  main {
    margin-right: 1rem;
  }
}

@media (max-width: 699px) {
  article {
    position: fixed;
    left: 11rem;
  }

  #posts {
    margin-top: 17rem;
  }

  .paraSeguir_li {
    flex-direction: column;
  }
}
