body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 69vh;
  max-width: 100%;
}

header {
  position: fixed;
  top: 0rem;
  left: 0rem;

  height: 5rem;
  width: 100vw;

  color: var(--color-cabecalho);
  background-color: var(--bg-cabecalho);
}

#nomeBlog {
  margin: 1rem;
}

#login,
#cadastro {
  display: flex;
  margin-top: 25rem;
  width: 19rem;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2.5rem;
}

input {
  width: 18rem;
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
}

#logar,
#cadastrar {
  border: none;
  cursor: pointer;
}
#logar {
  background-color: #262bc1;
  margin-left: 0.7rem;
  color: white;
}

#cadastrar {
  background-color: #4263eb;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

#buttons_LoginRegistro {
  top: 1.3rem;
  position: fixed;
  right: 1rem;
}

#logando,
#registro {
  background-color: transparent;
  border: none;
}

#logando > a,
#registro > a {
  color: white;
}
