#btnDivPostar {
  max-width: 24.4rem;
  justify-content: flex-end;
  display: flex;
}

#btnDivPostar {
  margin-top: 0.5rem;
}

button {
  cursor: pointer;
}
#btnPostar {
    background-color: var(--bg-btnPostar);
    color: var(--color-btnPostar);
    border: none;
    padding: 0.5rem;
  }