textarea {
  max-width: 24rem;
  min-width: 24rem;

  font-size: 2rem;

  max-height: 11rem;
  min-height: 11rem;
}

input {
  padding: 0.4rem;
  width: 23rem
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 1;
}


textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
